#tituloContacto {
    font-size: 4.5em;
    padding: 0.7em;
    animation-duration: 2s;
    animation-name: aparecer;
}


form {
    font-size: 5rem;
}


.formularioContacto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    background-color:rgba(126, 84, 7, 0.472);
    display: flex;
    flex-direction: row;
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 2rem;
    justify-content: center;
}

.comentarios {  
    padding: 3rem;
    justify-content:end;
}

legend {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Responsive */

/* Tablet Responsive */

@media (max-width: 992px) {
    .formularioContacto{
        flex-direction: column;
    }
    .contenedor {
        width: 90%;
    }
    .sugerencias {
        width: 90%;
    }
}


/* mobile responsive */
@media (max-width: 576px) {
    .formularioContacto{
        flex-direction: column;
    }
    .contenedor {
        width: 90%;
    }
    .sugerencias {
        width: 90%;
    }

}